<!DOCTYPE html>
<html>
<head>
    <title>Lista de Estudiantes</title>
</head>
<body>
    <h1>Lista de Estudiantes</h1>
    <a href="{{ url_for('agregar') }}">Agregar Estudiante</a>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cédula</th>
                <th>Sexo</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for estudiante in estudiantes %}
            <tr>
                <td>{{ estudiante[1] }}</td>
                <td>{{ estudiante[2] }}</td>
                <td>{{ estudiante[3] }}</td>
                <td>{{ estudiante[4] }}</td>
                <td>{{ estudiante[5] }}</td>
                <td>{{ estudiante[6] }}</td>
                <td>
                    <a href="{{ url_for('editar', id=estudiante[0]) }}">Editar</a>
                    <a href="{{ url_for('eliminar', id=estudiante[0]) }}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>